@import "tailwindcss";

@theme {
  --color-background: #EDEBE3;
  --color-foreground: #171717;
  --color-accent: #1B2BE0;
  --font-sans: var(--font-spline), sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bricolage), sans-serif;
}
